body{
    font-family: 'Montserrat', sans-serif;;
    height: 100vh;
    width: 100%;
    margin: 0;
}
a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(44, 44, 46);
}
h4{
    font-size: large;
    color: rgb(126, 103, 1);
}
h3{
    font-size: medium;
    word-spacing: 3px;
    letter-spacing: 2px;
    color: rgb(126, 103, 1);
    margin-left: 100px;
    position: relative;
}
h3::before{
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    background: rgb(126, 103, 1);
    position: absolute;
    left: -100px;
    top: 8px;
}
h2{
    font-size: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.pageBackground{
    width: 100%;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-areas: 
    "header header header header header"
    "webPersonals front front front nav"
    "webPersonals first first firstImg nav"
    "webPersonals secondImg second second nav"
    "webPersonals third third thirdImg nav"
    "webPersonals slogan blog MNTN nav"
    ;
    grid-template-rows: 144px 811px 638.933px 638.933px 638.933px 638.933px;
    grid-template-columns: 15.9% 22.1% 22.1% 22.1% 15.9%;
}
.header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 75px;
    padding-left: 30px;
    position: relative;
}
.info li{
    display: inline-block;
}
.info li:not(:last-child){
    margin-right: 15px;
}
.accImg{
    position: absolute;
    right: 70px;
    top: 22px;
}
.personals{
    grid-area: webPersonals;
    padding-left: 20px;
    padding-top: 22px;
    writing-mode: vertical-lr;
}
.frontPage{
    grid-area: front;
    text-align: left;
    padding-left: 180px;
    font-size: xx-large;
    position: relative;
}
.downArrow{
    position: absolute;
    top: 278px;
    left: 280px;
}
.nav{
    grid-area: nav;
    text-align: right;
    padding-top: 4px;
}
.nav li{
    list-style-type: none;
    margin-bottom: 20px;
}
.firstStage{
    grid-area: first;
    padding-left: 200px;
    padding-top: 100px;
    color: rgb(211, 210, 208);
    position: relative;
}
.firstArrow{
    position: absolute;
    bottom: 195px;
    left: 290px;
}
.firstImage{
    grid-area: firstImg;
}
.firstStageBackground{
    position: absolute;
    top: -200px;
    left: 100px;
    z-index: 0;
    font-size: 200px;
    color: rgba(44, 43, 90, 0.281);
}
.secondStage{
    grid-area: second;
    padding-left: 200px;
    padding-top: 200px;
    color: rgb(211, 210, 208);
    position: relative;
}
.secondArrow{
    position: absolute;
    bottom: 95px;
    left: 290px;
}
.secondImage{
    grid-area: secondImg;
    text-align: right;
    padding-top: 100px;
}
.secondStageBackground{
    position: absolute;
    top: -100px;
    left: 100px;
    z-index: 0;
    font-size: 200px;
    color: rgba(44, 43, 90, 0.281);
}
.thirdStage{
    grid-area: third;
    padding-left: 200px;
    padding-top: 200px;
    color: rgb(211, 210, 208);
    position: relative;
}
.thirdArrow{
    position: absolute;
    bottom: 95px;
    left: 290px;
}
.thirdImage{
    grid-area: thirdImg;
    padding-top: 100px;
}
.thirdStageBackground{
    position: absolute;
    top: -90px;
    left: 100px;
    z-index: 0;
    font-size: 200px;
    color: rgba(44, 43, 90, 0.281);
}
.slogan{
    grid-area: slogan;
    padding-top: 150px;
    padding-left: 50px;
    color: rgb(211, 210, 208);
}
.slogan li{
    list-style-type: none;
}
.moreBlog{
    grid-area: blog;
    padding-top: 150px;
    padding-left: 250px;
    color: rgb(211, 210, 208);
}
.moreBlog li{
    list-style-type: none;
}
.moreBlog li:not(:last-child){
    margin-bottom: 10px;
}
.moreBlog a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: rgb(211, 210, 208);
}
.moreBlog a:hover{
    color: black;
}
.moreMNTN{
    grid-area: MNTN;
    padding-top: 150px;
    padding-left: 250px;
    color: rgb(211, 210, 208);
}
.moreMNTN li{
    list-style-type: none;
}
.moreMNTN li:not(:last-child){
    margin-bottom: 10px;
}
.moreMNTN a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: rgb(211, 210, 208);
}
.moreMNTN a:hover{
    color: black;
}
.readMore{
    color: rgb(126, 103, 1);
}
.readMore a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: rgb(126, 103, 1);
}
.readMore a:hover{
    color: rgb(214, 188, 71);
}
#copyright{
    padding-top: 100px;
    color: rgb(114, 114, 114);
}
#scrollDown{
    font-size: medium;
}

@media only screen and (max-width: 1519.2px), screen and (max-height: 3355px) {
    .pageBackground{
        width: 100%;
        background-image: url(../images/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-areas: 
        "header header header header header"
        "webPersonals front front front nav"
        "webPersonals first first firstImg nav"
        "webPersonals secondImg second second nav"
        "webPersonals third third thirdImg nav"
        "webPersonals slogan blog MNTN nav"
        ;
        grid-template-rows: 50px 811px 700px 700px 700px 1fr;
        grid-template-columns: 15.9% 22.1% 22.1% 22.1% 15.9%;
    }
    .header{
        padding: 0px 20px;
    }
    .accImg{
        top: 12px;
        right: 90px;
    }
    .downArrow{
        top: 277px;
    }
    .firstStage{
        padding-top: 150px;
        padding-left: 150px;
        padding-right: 30px;
    }
    .firstArrow{
        bottom: 56px;
        left: 240px;
    }
    .firstStageBackground{
        margin: 0;
        top: 50px;
        left: 60px;
    }
    .firstImage{
        padding-top: 150px;
    }
    .secondStage{
        padding-top: 130px;
        padding-left: 70px;
        padding-right: 150px;
    }
    .secondArrow{
        left: 160px;
    }
    .secondStageBackground{
        margin: 0;
        top: 30px;
        left: 5px;
    }
    .secondImage{
        padding-top: 150px;
    }
    .thirdStage{
        padding-top: 134px;
        padding-left: 150px;
        padding-right: 30px;
    }
    .thirdArrow{
        bottom: 72px;
        left: 240px;
    }
    .thirdStageBackground{
        margin: 0;
        top: 30px;
        left: 60px;
    }
    .thirdImage{
        padding-top: 150px;
    }
    .slogan{
        padding-top: 100px;
        padding-left: 30px;
    }
    .moreBlog{
        padding-top: 95px;
        padding-left: 100px;
    }
    .moreMNTN{
        padding-top: 95px;
        padding-left: 100px;
    }
}
