body{
    font-family: 'Gilroy', sans-serif;
    height: 100vh;
    width: 100%;
    margin: 0;
}
div{
    margin: 0;
}
p{
    margin: 0;
}
h3{
    margin: 0;
}
h1{
    margin: 0;
}
header{
    position: relative;
    padding-top: 64px;
    padding-left: 80px;
    padding-right: 80px;
    width: 1743px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.76px;
    color: #FFFFFF;
}
section{
    position: absolute;
    width: 950px;
    height: 321px;
    top: 287px;
    left: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}
section:not(:last-child){
    gap: 32px;
}
footer{
    width: 1462px;
    height: 280px;
    position: absolute;
    top: 4200px;
    left: 229px;
    display: flex;
    flex-direction: row;
    gap: 212px;
    align-items: flex-start;
}
.headerNav{
    list-style: none;
}
.headerNav li{
    display: inline-block;
}
.headerNav li:not(:first-child){
    margin-left: 40px;
}
.accLogo{
    position: absolute;
    top: 64px;
    right: 150px;
}
.hikingGuide{
    position: static;
    width: 316px;
    height: 22px;
    margin: 0px;
    padding-left: 104px;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 6px;
    line-height: 22.05px;
    color: #FBD784;
}
.hikingGuide::before{
    position: absolute;
    content: "";
    display: inline-block;
    width: 72px;
    height: 2px;
    left: 0px;
    top: 10px;
    background: #FBD784;
}
.bePrepared{
    position: static;
    text-transform: capitalize;
    margin: 0;
    width: 950px;
    height: 200px;
    font-weight: 600;
    font-size: 80px;
    line-height: 100px;
    color: #FFFFFF;
}
.scrollDown{
    position: static;
    margin: 0;
    width: 126px;
    height: 24px;
    color: #FFFFFF;
}
.scrollDown img{
    position: absolute;
    top: 286px;
    left: 100px;
}
.Instagram{
    position: absolute;
    transform: rotate(-90deg);
    left: calc(77px + 24px);
}
.Twitter{
    position: absolute;
    transform: rotate(-90deg);
    left: calc(77px + 24px + 24px + 24px);
}
.social{
    position: absolute;
    margin: 359px 0px 80px 0px;
    width: 173px;
    height: 24px;
    transform: rotate(90deg);
    color: #FFFFFF;
}
.slider{
    position: absolute;
    padding: 0px;
    width: 77px;
    height: 240px;
    margin: 237px 80px 0px 1763px;
}
.sliderImg{
    position: absolute;
    right: 0px;
    top: 0px;
}
.frame{
    position: static;
    width: 42px;
    height: 208px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #FFFFFF;
    gap: 40px;
    padding-right: 32px;
    padding-top: calc((240px - 208px) / 2);
}
.main{
    position: absolute;
    width: 100%;
    height: 4600px;
    background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%) no-repeat,
                url(../images/MG.png) no-repeat,
                url(../images/HG.png) no-repeat, 
                linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 19%) no-repeat,
                url(../images/VG.png) no-repeat;
    background-size: cover 1200px, 
                     cover 1422px,
                     cover 1513px, 
                     cover 100%,
                     cover 926px;
    background-position: top 0px left 0px, 
                         top 462px left 0px,
                         top -400px left 0px, 
                         top 1200px left 0px,
                         top 1165px left 0px;
}
.content{
    position: absolute;
    padding: 0px;
    width: 1462px;
    height: 2760px;
    top: 1440px;
    margin: 0px 229px 0px 229px;
    display: flex;
    flex-direction: column;
    gap: 200px;
}
.content-item{
    width: 100%;
    height: 720px;
    display: flex;
    flex-direction: row;
    gap: 114px;
}
.stage{
    position: relative;
    width: calc(632px + 150px);
    height: 720px;
}
.background-number{
    padding: 38px 0px 0px 0px;
    z-index: -1;
}
.text-title{
    font-weight: 600;
    font-size: 64px;
    line-height: 76.8px;
    color: #FFFFFF;
}
.text-paragraph{
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}
.read-more{
    font-size: 18px;
    line-height: 22px;
    color: #FBD784;
}
.right-arrow{
    position: absolute;
    top: 422px;
    left: 103px;
}
.text{
    position: absolute;
    width: 632px;
    height: 439px;
    top: 141px;
    left: 150px;
    display: flex;
    flex-direction: column;
    gap: 27px;
}
.item-image{
    width: 566px;
    height: 720px;
}
.yellow-text{
    padding: 0px 0px 0px 96px;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}
.yellow-text::before{
    position: absolute;
    content: "";
    display: inline-block;
    width: 72px;
    height: 2px;
    left: 0px;
    top: 10px;
    background: #FBD784;
}
.logo{
    width: 108px;
    height: 24px;
}
.link-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FBD784;
    margin-bottom: 24px;
}
.links{
    list-style: none;
    margin: 0;
}
.link{
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.link:not(:last-child){
    margin-bottom: 16px;
}
.MNTN{
    flex-grow: 2;
}
#copyright{
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    opacity: 0.5;
    padding-top: 122px;
}